#Python compiled files
*~
*.pyc

#Reference books
*.pdf

#Tests
test.py
eye.py
average.py
mouth.py

#Training set
*.bmp
*.jpg
*.JPG
!sample.bmp

#others
*.txt
*.sqlite3
Mood_Detection/Data/
Mood_Detection/test_pca/

