#Reference books
*.pdf

#Tests
test.py
eye.py
average.py
mouth.py
test0.py
test1.py

#Training set
*.png
*.bmp
*.jpg
*.JPG
!/Screenshots/*

#Tests
!/Mood_Detection/Tests/*

#Python compiled files
*~
*.pyc

#others
*.txt
*.sqlite3
Mood_Detection/Data/
Mood_Detection/test_pca/
!/Mood_Detection/eigendata/*
