<!DOCTYPE html>
<html>
	<head>
		<title>Moody Tube | {% block title %}{% endblock %}</title>
		<style media = "screen" type = "text/css">
			#nav{	float : right	}
			input{	display : block; }
		</style>
	</head>
	
	<body>
		<div id = 'nav'>
			<a href = '/'>Home</a> | 
			{% if user.is_authenticated %}
				<a href = '/mood/'>MOOD</a> |
				<a href = '/user/{{ user.username }}/'>{{ user.username }}</a> |
				<a href = '/logout'>Logout</a>
			{% else %}
				<a href = '/login/'>Login</a> | 
				<a href = '/register/'>Registration</a>
			{% endif %}
		</div>
		<h1>{% block head %}{% endblock %}</h1>
		{% block content %}{% endblock %}
	</body>
</html>